Libraries/WindowsSDK/Include/eventman.xsd

<xs:schema targetNamespace="http://schemas.microsoft.com/win/2004/08/events" elementFormDefault="qualified" xmlns:man="http://schemas.microsoft.com/win/2004/08/events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="GUIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HexInt8Type">
		<xs:annotation>
			<xs:documentation> Hex 1-2 digits in size</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="0[xX][0-9A-Fa-f]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HexInt16Type">
		<xs:annotation>
			<xs:documentation> Hex 1-4 digits in size</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="0[xX][0-9A-Fa-f]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HexInt32Type">
		<xs:annotation>
			<xs:documentation> Hex 1-8 digits in size</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="0[xX][0-9A-Fa-f]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HexInt64Type">
		<xs:annotation>
			<xs:documentation> Hex 1-16 digits in size</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="0[xX][0-9A-Fa-f]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UInt8Type">
		<xs:annotation>
			<xs:documentation> Hex 1-2 digits in size or unsignedByte</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedByte man:HexInt8Type"/>
	</xs:simpleType>
	<xs:simpleType name="UInt16Type">
		<xs:annotation>
			<xs:documentation> Hex 1-4 digits in size or unsignedShort</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedShort man:HexInt16Type"/>
	</xs:simpleType>
	<xs:simpleType name="UInt32Type">
		<xs:annotation>
			<xs:documentation> Hex 1-8 digits in size or unsignedInt</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedInt man:HexInt32Type"/>
	</xs:simpleType>
	<xs:simpleType name="UInt64Type">
		<xs:annotation>
			<xs:documentation> Hex 1-16 digits in size or unsignedLong</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedLong man:HexInt64Type"/>
	</xs:simpleType>
	<xs:simpleType name="LengthType">
		<xs:annotation>
			<xs:documentation> Length property name string or unsignedShort</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedShort xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CountType">
		<xs:annotation>
			<xs:documentation> Count property name string or unsignedShort</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedShort xs:string"/>
	</xs:simpleType>
	<xs:complexType name="KeywordType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:QName" use="required"/>
				<xs:attribute name="symbol" type="xs:string" use="optional"/>
				<xs:attribute name="mask" type="man:HexInt64Type" use="required"/>
				<xs:attribute name="message" type="xs:string" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KeywordListType">
		<xs:sequence>
			<xs:element name="keyword" type="man:KeywordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpcodeType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:QName" use="required"/>
				<xs:attribute name="symbol" type="xs:string" use="optional"/>
				<xs:attribute name="value" type="man:UInt8Type" use="required"/>
				<xs:attribute name="message" type="xs:string" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OpcodeListType">
		<xs:sequence>
			<xs:element name="opcode" type="man:OpcodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DescriptionType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vendor" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="LevelType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:QName" use="required"/>
				<xs:attribute name="symbol" type="xs:string" use="optional"/>
				<xs:attribute name="value" type="man:UInt8Type" use="required"/>
				<xs:attribute name="message" type="xs:string" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LevelListType">
		<xs:sequence>
			<xs:element name="level" type="man:LevelType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaskType" mixed="true">
		<xs:sequence>
			<xs:element name="opcodes" type="man:OpcodeListType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:QName" use="required"/>
		<xs:attribute name="symbol" type="xs:string" use="optional"/>
		<xs:attribute name="value" type="man:UInt16Type" use="required"/>
		<xs:attribute name="eventGUID" type="man:GUIDType" use="optional"/>
		<xs:attribute name="message" type="xs:string" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="StringTableType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="string">
				<xs:complexType>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="stringType" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="TaskListType">
		<xs:sequence>
			<xs:element name="task" type="man:TaskType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChannelLoggingType">
		<xs:annotation>
			<xs:documentation>Channel logging config</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="autoBackup" type="xs:boolean" minOccurs="0"/>
			<xs:element name="retention" type="xs:boolean" default="0" minOccurs="0"/>
			<xs:element name="maxSize" type="man:UInt64Type" default="1048576" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ChannelPublishingType">
		<xs:annotation>
			<xs:documentation>Channel publishing config</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="level" type="man:UInt8Type" default="0" minOccurs="0"/>
			<xs:element name="keywords" type="man:UInt64Type" default="0" minOccurs="0"/>
			<xs:element name="controlGuid" type="man:GUIDType" minOccurs="0"/>
			<xs:element name="bufferSize" type="man:UInt32Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount of memory allocated for the session buffers (KB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minBuffers" type="man:UInt32Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Minimum number of session buffers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxBuffers" type="man:UInt32Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of session buffers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latency" type="man:UInt32Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Buffer flush interval (sec)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clockType" default="SystemTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clock resolution</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SystemTime"/>
						<xs:enumeration value="QPC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sidType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="None"/>
						<xs:enumeration value="Publishing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ChannelType" mixed="true">
		<xs:sequence>
			<xs:element name="logging" type="man:ChannelLoggingType" minOccurs="0"/>
			<xs:element name="publishing" type="man:ChannelPublishingType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:anyURI" use="required"/>
		<xs:attribute name="chid" type="xs:token" use="optional"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Admin"/>
					<xs:enumeration value="Operational"/>
					<xs:enumeration value="Analytic"/>
					<xs:enumeration value="Debug"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="symbol" type="xs:string" use="optional"/>
		<xs:attribute name="access" type="xs:string" use="optional"/>
		<xs:attribute name="isolation" use="optional">
			<xs:annotation>
				<xs:documentation>Default publishing session/security if not specified explicitly by the channel access attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Application"/>
					<xs:enumeration value="System"/>
					<xs:enumeration value="Custom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="value" type="man:UInt8Type" use="optional"/>
		<xs:attribute name="message" type="xs:string" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ChannelListType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="importChannel" type="man:ImportChannelType"/>
			<xs:element name="channel" type="man:ChannelType"/>
			<xs:any namespace="##other" processContents="lax"/>
		</xs:choice>
		<xs:anyAttribute namespace="##other"/>
	</xs:complexType>
	<xs:complexType name="DataDefinitionType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="optional"/>
				<xs:attribute name="inType" type="xs:QName" use="required"/>
				<xs:attribute name="outType" type="xs:QName" use="optional"/>
				<xs:attribute name="map" type="xs:string" use="optional"/>
				<xs:attribute name="length" type="man:LengthType" use="optional"/>
				<xs:attribute name="count" type="man:CountType" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StructDefinitionType" mixed="true">
		<xs:sequence>
			<xs:element name="data" type="man:DataDefinitionType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="length" type="man:LengthType" use="optional"/>
		<xs:attribute name="count" type="man:CountType" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="XmlType">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TemplateItemType">
		<xs:sequence maxOccurs="unbounded">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="data" type="man:DataDefinitionType"/>
				<xs:element name="struct" type="man:StructDefinitionType"/>
			</xs:choice>
			<xs:element name="binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents binary data in classic eventlog API</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="UserData" type="man:XmlType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="tid" type="xs:token" use="required"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="TemplateListType">
		<xs:sequence>
			<xs:element name="template" type="man:TemplateItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XmlTypeListType">
		<xs:sequence>
			<xs:element name="xmlType" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="man:XmlType">
							<xs:attribute name="name" type="xs:QName" use="required"/>
							<xs:attribute name="value" type="xs:string" use="required"/>
							<xs:attribute name="symbol" type="xs:string" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutputType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="default" type="xs:boolean" use="optional"/>
				<xs:attribute name="xmlType" type="xs:QName" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InputType">
		<xs:sequence>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="outType" type="man:OutputType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:QName" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
		<xs:attribute name="symbol" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TypeListType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="xmlTypes" type="man:XmlTypeListType"/>
			<xs:element name="inTypes" type="man:InputTypeListType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="InputTypeListType">
		<xs:sequence>
			<xs:element name="inType" type="man:InputType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="QNameList">
		<xs:list itemType="xs:QName"/>
	</xs:simpleType>
	<xs:complexType name="ImportChannelType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="chid" type="xs:token" use="optional"/>
				<xs:attribute name="name" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EventDefinitionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="value" type="man:UInt32Type" use="required"/>
				<xs:attribute name="level" type="xs:QName" use="optional"/>
				<xs:attribute name="template" type="xs:token" use="optional"/>
				<xs:attribute name="channel" type="xs:token" use="optional"/>
				<xs:attribute name="keywords" type="man:QNameList" use="optional"/>
				<xs:attribute name="task" type="xs:QName" use="optional"/>
				<xs:attribute name="opcode" type="xs:QName" use="optional"/>
				<xs:attribute name="symbol" type="xs:string" use="optional"/>
				<xs:attribute name="version" type="xs:unsignedByte" use="optional"/>
				<xs:attribute name="message" type="xs:string" use="optional"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MapType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="valueMap" type="man:ValueMapType"/>
			<xs:element name="bitMap" type="man:BitMapType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ValueMapType">
		<xs:sequence>
			<xs:element name="map" type="man:ValueMapValueType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ValueMapValueType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="value" type="man:UInt32Type" use="required"/>
				<xs:attribute name="message" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BitMapType">
		<xs:sequence>
			<xs:element name="map" type="man:BitMapValueType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BitMapValueType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="value" type="man:HexInt32Type" use="required"/>
				<xs:attribute name="message" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NamedQueryType">
		<xs:sequence>
			<xs:element name="patternMaps" type="man:PatternMapListType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="PatternMapListType">
		<xs:sequence>
			<xs:element name="patternMap" type="man:PatternMapType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatternMapType">
		<xs:sequence>
			<xs:element name="map" type="man:PatternMapValueType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:QName"/>
		<xs:attribute name="format" type="xs:anyURI"/>
	</xs:complexType>
	<xs:complexType name="PatternMapValueType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
				<xs:attribute name="value" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TaskEventDefinitionType">
		<xs:sequence>
			<xs:element name="opcode" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="event" type="man:EventDefinitionType" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="name" type="xs:QName" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:anyURI" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="DefinitionType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="event" type="man:EventDefinitionType"/>
			<xs:element name="task" type="man:TaskEventDefinitionType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ProviderType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="channels" type="man:ChannelListType"/>
			<xs:element name="levels" type="man:LevelListType"/>
			<xs:element name="tasks" type="man:TaskListType"/>
			<xs:element name="opcodes" type="man:OpcodeListType"/>
			<xs:element name="keywords" type="man:KeywordListType"/>
			<xs:element name="maps" type="man:MapType"/>
			<xs:element name="namedQueries" type="man:NamedQueryType"/>
			<xs:element name="templates" type="man:TemplateListType"/>
			<xs:element name="events" type="man:DefinitionType"/>
			<xs:any namespace="##other" processContents="lax"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anyURI" use="required"/>
		<xs:attribute name="guid" type="man:GUIDType" use="required"/>
		<xs:attribute name="resourceFileName" type="xs:string" use="optional"/>
		<xs:attribute name="messageFileName" type="xs:string" use="optional"/>
		<xs:attribute name="parameterFileName" type="xs:string" use="optional"/>
		<xs:attribute name="helpLink" type="xs:anyURI" use="optional"/>
		<xs:attribute name="symbol" type="xs:string" use="required"/>
		<xs:attribute name="message" type="xs:string" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="MetadataType">
		<xs:sequence>
			<xs:element name="channels" type="man:ChannelListType"/>
			<xs:element name="levels" type="man:LevelListType"/>
			<xs:element name="tasks" type="man:TaskListType"/>
			<xs:element name="opcodes" type="man:OpcodeListType" minOccurs="0"/>
			<xs:element name="keywords" type="man:KeywordListType" minOccurs="0"/>
			<xs:element name="types" type="man:TypeListType" minOccurs="0"/>
			<xs:element name="namedQueries" type="man:NamedQueryType" minOccurs="0"/>
			<xs:element name="messageTable" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="value" type="xs:string" use="required"/>
								<xs:attribute name="mid" type="xs:string" use="optional"/>
								<xs:attribute name="message" type="xs:string" use="required"/>
								<xs:attribute name="symbol" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:anyURI" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="LocalizationType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="resources">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="stringTable" type="man:StringTableType"/>
						<xs:any namespace="##other" processContents="lax"/>
					</xs:choice>
					<xs:attribute name="culture" type="xs:string" use="optional"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax"/>
		</xs:choice>
		<xs:attribute name="fallbackCulture" type="xs:string" use="optional" default="en-us"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="EventsType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="provider" type="man:ProviderType"/>
			<xs:element name="messageTable" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="value" type="xs:string" use="required"/>
								<xs:attribute name="mid" type="xs:string" use="optional"/>
								<xs:attribute name="message" type="xs:string" use="required"/>
								<xs:attribute name="symbol" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"/>
		</xs:choice>
		<xs:anyAttribute namespace="##other"/>
	</xs:complexType>
	<xs:complexType name="InstrumentationType">
		<xs:sequence>
			<xs:element name="events" type="man:EventsType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="InstrumentationManifestType"/>
	<xs:element name="instrumentationManifest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="man:InstrumentationManifestType">
					<xs:choice maxOccurs="2">
						<xs:choice>
							<xs:element name="metadata" type="man:MetadataType"/>
							<xs:element name="instrumentation" type="man:InstrumentationType"/>
						</xs:choice>
						<xs:element name="localization" type="man:LocalizationType"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="events" type="man:EventsType"/>
</xs:schema>

